.App {

  height:65vh ;
  background-image:url('./moviebackground.jpg');
  background-position:center;
  background-size:cover;
  filter: brightness(70%);
  display:flex;
  justify-content: center;
}

.App-logo {

  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.AlignSearchInputCenter{
  display:flex;
  align-self: center;
}